<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body table-responsive">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
