
<template>
    <div>
        <div class="form-group">
            <router-link :to="{name:'listMembers'}" class="btn btn-warning">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Show Member</h2>
            </div>
            <div class="panel-body">
                <div v-show="added == 1" class="alert alert-success alert-dismissible">New Member has been added!.</div>

                    <div class="col-xs-12 form-group">
                        <label class="control-label">Name:</label>
                        <b>{{member.name}}</b>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="control-label">Phone:</label>
                        <b>{{member.phone}}</b>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="control-label">Email:</label>
                        <b>{{member.email}}</b>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="control-label">Gender:</label>
                        <span v-if="member.gender == 'm'">Male</span>
                        <span v-else-if="member.gender == 'f'">Female</span>
                        <span v-else="member.gender == 'o'">Other</span>

                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="control-label">Date of Birth:</label>
                        <b>{{member.dob}}</b>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="control-label">Biography:</label>
                        <p>{{member.biography}}</p>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="control-label"> Picture</label>
                        <img :src=showPic() alt="">
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.companyId = id;
            axios.get(window.Laravel.url+'/api/v1/members/' + id)
                .then(function (resp) {
                    app.member = resp.data.data;
                })
                .catch(function () {
                    alert("Member could not loaded")
                });
        },
        data: function () {
            return {
                member: {
                    name: '',
                    phone: '',
                    email: '',
                    gender: '',
                    dob: '',
                    biography: '',
                    picture: '',
                },
                attachment: '',
                disablesubmit: true,
                formData: {},
                added: 0,

            }
        },
        methods: {
            saveForm() {
                this.added = 0;
                var app = this;
                var newMember = app.member;
                debugger;
                this.formData = new FormData();

                this.formData.append('name', this.member.name);
                this.formData.append('phone', this.member.phone);
                this.formData.append('email', this.member.email);
                this.formData.append('gender', this.member.gender);
                this.formData.append('dob', this.member.dob);
                this.formData.append('biography', this.member.biography);
                this.formData.append('picture', this.attachment);
                axios.post(window.Laravel.url+'/api/v1/members/' +this.member.id , this.formData,{headers: {'Content-Type': 'multipart/form-data'}})
                    .then( (data) =>  {
                        debugger;
                        this.added = 1;
                        this.member = {};

                        app.$router.push({path: '/'});
                    },(resp) =>{
                        if( (resp.response != undefined) && resp.response.status == '422'){
                            console.log(resp.response.data.errors);
                        }
                        debugger;
                        console.log(resp);
                        alert("Member could not updated");
                    });
            },

            addFile(file){
                this.attachment = this.$refs.file.files[0];
            },
            showPic(){
                return window.Laravel.url+"/"+this.member.picture;
            },
            showPic(){
                return window.Laravel.url+"/"+this.member.picture;
            }
        },
        watch: {
            member: function (value) {
                console.log(value);
            }
        }
    }
</script>
