
<template>
    <div>
        <div class="form-group">
            <router-link :to="{name:'listMembers'}" class="btn btn-warning">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Add Member</h2>
            </div>
            <div class="panel-body">
                <div v-show="added == 1" class="alert alert-success alert-dismissible">New Member has been added!.</div>
                <form @submit.prevent="saveForm()">

                        <div class="col-xs-12 form-group">
                            <label class="control-label">Name</label>
                            <input name="name" type="text" v-model="member.name" class="form-control" v-validate="'required'" autofocus >
                            <div class="help-block alert alert-danger" v-show="errors.has('name')">
                                {{errors.first('name')}}
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Phone</label>
                            <input name="phone" type="text" v-model="member.phone" class="form-control" v-validate="'required'" autofocus>
                            <div class="help-block alert alert-danger" v-show="errors.has('phone')">
                                {{errors.first('phone')}}
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Email</label>
                            <input name="email" type="text" v-model="member.email" class="form-control" v-validate="'required|email'" autofocus>
                            <div class="help-block alert alert-danger" v-show="errors.has('email')">
                                {{errors.first('email')}}
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Gender</label>
                            <select name="gender" v-model="member.gender" class="form-control" v-validate="'required'" autofocus>
                                <option value="">Select Gender</option>
                                <option value="m">Male</option>
                                <option value="f">Female</option>
                                <option value="o">Other</option>
                            </select>
                            <div class="help-block alert alert-danger" v-show="errors.has('gender')">
                                {{errors.first('gender')}}
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Date of Birth</label>
                            <my-date name="dob" class="form-control" v-model="member.dob" v-validate="'required'" autofocus></my-date>
                            <div class="help-block alert alert-danger" v-show="errors.has('dob')">
                                {{errors.first('dob')}}
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Biography</label>
                            <textarea name="biography" type="text" v-model="member.biography" class="form-control" v-validate="'required|min:20'" autofocus></textarea>
                            <div class="help-block alert alert-danger"  v-show="errors.has('biography')">
                                {{errors.first('biography')}}
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Profile Picture</label>
                            <input ref="file" name="picture" type="file" v-on:change="addFile()"  class="form-control">
                        </div>

                        <div class="col-xs-12 form-group">
                            <button :disabled="errors.any()" class="btn btn-success">Create</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                member: {
                    name: '',
                    phone: '',
                    email: '',
                    gender: '',
                    dob: '',
                    biography: '',
                    picture: '',
                },
                attachment: '',
                disablesubmit: true,
                formData: {},
                added: 0,

            }
        },
        methods: {
            saveForm() {
                this.added = 0;
                var app = this;
                var newMember = app.member;
                debugger;
                this.formData = new FormData();

                this.formData.append('name', this.member.name);
                this.formData.append('phone', this.member.phone);
                this.formData.append('email', this.member.email);
                this.formData.append('gender', this.member.gender);
                this.formData.append('dob', this.member.dob);
                this.formData.append('biography', this.member.biography);
                this.formData.append('picture', this.attachment);
                axios.post(window.Laravel.url+'/api/v1/members', this.formData,{headers: {'Content-Type': 'multipart/form-data'}})
                    .then( (data) =>  {
                        debugger;
                        this.added = 1;
                        this.member = {};

                        app.$router.push({path: '/'});
                    },(resp) =>{
                        if( (resp.response != undefined) && resp.response.status == '422'){
                            console.log(resp.response.data.errors);
                        }
                        debugger;
                        console.log(resp);
                        alert("Could not create new member");
                    });
            },

            addFile(file){
                this.attachment = this.$refs.file.files[0];
            },
        },
        watch: {
           member: function (value) {
               console.log(value);
           }
        }
    }
</script>
