<template>
    <div>
        <div class="form-group">
            <router-link :to="{name:'createMember'}" class="btn btn-success">Add New Member</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Member list</div>
            <div class="panel-body">
                <div v-show="deleted == 1" class="alert alert-success alert-dismissible">One Member has been deleted!.</div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th width="100">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="member, index in members">
                        <td>{{ member.name }}</td>
                        <td>{{ member.phone }}</td>
                        <td>{{ member.email }}</td>
                        <td>
                            <span v-if="member.gender == 'm'">Male</span>
                            <span v-else-if="member.gender == 'f'">Female</span>
                            <span v-else="member.gender == 'o'">Other</span>
                        </td>
                        <td>
                            <router-link :to="{name: 'showMember', params: {id: member.id}}" class="btn btn-xs btn-default">
                               <span class="btn btn-primary">Show</span>
                            </router-link>
                            <router-link :to="{name: 'editMember', params: {id: member.id}}" class="btn btn-xs btn-default">
                                <span class="btn btn-warning">Edit</span>
                            </router-link>
                            <a href="#"
                               class="btn  btn-danger"
                               v-on:click="deleteEntry(member.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function(){
          return {
              members: [],
              deleted: 0,
          }
        },
        mounted() {
            var app = this;
            axios.get(window.Laravel.url+'/api/v1/members')
                .then((resp) => {
                    debugger;
                    app.members = resp.data.data;
                },(resp) =>{
                    console.log(resp);
                    alert("Member could not load companies");
                });
        },
        methods: {
            deleteEntry(id, index) {
                this.deleted = 0;
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete(window.Laravel.url+'/api/v1/members/' + id)
                        .then( (resp) => {
                            app.members.splice(index, 1);
                            this.deleted = 1;

                        },(error)=>{
                            alert("Member could not deleted");
                        });
                }
            }
        }
    }
</script>
